<div class="container">
			
            <div class="row">
                <table id="table" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Job Description</th>
					              <th>Company</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of list">
                      <td>{{job.desc}}</td>
                      <td>{{job.title}}</td>
                      <td>
                        <b>{{job.companyname}}</b>
                       </td>
                      </tr>
                  </tbody>

            </table>
        </div>
    </div>