<div class="container" >
<section class="text-center pb-5">
    <h1 class="h1 pt-4">Manage Your Profile</h1>

            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">

                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid" alt="First sample avatar image">

                </div>
          
                <p>
                    <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae
                    quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
                    molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor
                    veniam. <i class="fa fa-quote-right"></i></p><a data-toggle="modal" data-target="#orangeModalSubscription"><i class="fa fa-edit fa-3x" aria-hidden="true"></i></a>


                <h4>{{profile1.Name}}</h4>
                <h6>{{profile1.PhoneNumber}}</h6>

                <!--Review-->
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star-half-full"> </i>
            </div>
</section>


<p>
  Name : {{profile1.Name}}
</p>
<p>
  Phone : {{profile1.PhoneNumber}}
</p>
<p>
  Address : {{profile1.Address}}
</p>

<h5 *ngIf="role == true"><a>Create/View your Company and Post Jobs</a></h5>

<form >
  <h2 class="text-center mb-4">Edit Profile</h2>

  <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <input type="text" id="orangeForm-name" class="form-control" name="name" [(ngModel)]="profile.name">
      <label for="orangeForm-name">Your name</label>
  </div>
  <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="text" id="orangeForm-email" class="form-control" name="PhoneNumber" [(ngModel)]="profile.PhoneNumber">
      <label for="orangeForm-email">Your Phone</label>
  </div>

  <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="text" id="orangeForm-pass" class="form-control" name="Address" [(ngModel)]="profile.Address">
      <label for="orangeForm-pass">Your Address</label>
  </div>

  <div class="text-center">
      <button class="btn btn-deep-orange" (click)= "profile_data(profile.name,profile.PhoneNumber,profile.Address)" >Save Profile</button>
      <br>
      <br>
  </div>

</form>

<div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Subscribe</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form3">Your name</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="form2" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form2">Your email</label>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-warning waves-effect">Send <i class="fa fa-paper-plane-o ml-1"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#orangeModalSubscription">Launch modal Subscription</a>
</div>

    

</div>