
        <!--Main layout-->
        <div class="container">
            <!--First row-->
            <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-lg-7">
                    <!--Featured image -->
                    <div class="view overlay hm-white-light z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2877%29.jpg" class="img-fluid " alt="">
                        <div class="mask">
                        </div>
                    </div>
                    <br>
                </div>

                <!--Main information-->
                <div class="col-lg-5">
                    <h2 class="h2-responsive font-bold">Availability on a single click !</h2>
                    <hr>
                    <p>Struggle days are over. Get information about everything and connect with students in your locality!</p>
                    <a href="" class="btn btn-info">Get it now!</a>
                </div>
            </div>
            <!--/.First row-->

            <hr class="extra-margins my-5">

            <!--Second row-->
            <div class="row pt-4">
                <!--First columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.4s">

                        <!--Card image-->
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(37).jpg" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title text-center">Jobs</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Hunting for a job. Make it easy by just clicking here.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->

                <!--Second columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.6s">

                        <!--Card image-->
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(21).jpg" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title text-center">Companies</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Find more information about the companies you want to work with.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--Second columnn-->

                <!--Third columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.8s">

                        <!--Card image-->
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(12).jpg" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title text-center">Work-Placement</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Gaining work experience gives your career a massive boost. Click to find internships and apprentices.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--Third columnn-->
            </div>
            <!--/.Second row-->
        </div>
        <!--/.Main layout-->

    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-lg-3 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>About material design</strong></h5>
                    <p>StudentBuzz Portal created by group of students studying in National College Of Ireland.</p>
                    <p>Seeing the modern struggle of the students we want to make students life easy by creating this portal.</p>
                </div>
                <!--/.First column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Second column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>HOME</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Jobs</a>
                        </li>
                        <li>
                            <a href="#!">Companies</a>
                        </li>
                        <li>
                            <a href="#!">Applied Jobs</a>
                        </li>
                        <li>
                            <a href="#!">Internships</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Third column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>INFO</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Careers</a>
                        </li>
                        <li>
                            <a href="#!">Experience</a>
                        </li>
                        <li>
                            <a href="#!">Part Time</a>
                        </li>
                        <li>
                            <a href="#!">Full Time</a>
                        </li>
                    </ul>
                </div>
                <!--/.Third column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Fourth column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>MORE</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">About Us</a>
                        </li>
                        <li>
                            <a href="#!">Contact</a>
                        </li>
                        <li>
                            <a href="#!">Profile</a>
                        </li>
                        <li>
                            <a href="#!">Employer</a>
                        </li>
                    </ul>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <h4 class="mb-5">Design and Developed By StudentBuzz Team</h4>
            <ul>
                <li>
                    <h5>Know More</h5>
                </li>
                <li><a target="_blank"  class="btn btn-danger" rel="nofollow">Sign up!</a></li>
                <li><a target="_blank"  class="btn btn-info" rel="nofollow">Learn more</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2015 Copyright: <a> StudentBuzz.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
